@import "../../../scss/style";

.photo {
  height: 80px;
  width: 80px;
}

.actionDaftarPustaka {
  display: grid;
  gap: 10px;

  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
  }

  .form-container {
    display: grid;
    gap: 10px;

    @media screen and (min-width: 600px) {
      display: flex;
      flex-grow: 1;
      margin-right: 10px;
      justify-content: space-between;
    }

    .btnModal {

      @media screen and (min-width: 600px) {
        width: auto;
      }

      width: 100%;
      margin-right: auto;
    }

  }
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Three columns with equal width */
  gap: 20px;
  /* Add gap between columns */
}