.leftBar {
  display: flex;
  flex: 1;

  .menu {
    height: 100%;
    background-color: #29266a;
    width: 350px;

    ul {
      display: flex;
      flex-direction: column;
      margin-block-start: 0;
      padding-inline: 0;
      gap: 40px;
      padding: 80px 0;

      li {
        list-style-type: none;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 28px;
      }

      li:hover {
        color: #ffbe17;
        text-decoration: underline;
      }
    }
  }
}