.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29266a;
  height: 100vh;

  .card {
    display: block;
    margin: auto;

    form {
      display: grid;
      gap: 10px;
    }
  }
}