@import '../../../scss/style.scss';

.bookDetailContainer {
  min-height: 72vh;
  display: grid;
  padding: 32px;
  margin: 0 auto;
  width: 70%;
  max-width: 1100px;
  grid-template-columns: 1fr;
  gap: 18px 16px;

  @include tablet {
    grid-template-columns: auto 1fr;
  }

  .bookPosterAction {
    display: flex;
    flex-direction: column;

    .bookPoster {
      width: 100%;
      max-width: 400px;

      @include tablet {
        height: 500px;
        max-width: 400px;
      }
    }

    .disabledButton:hover {
      cursor: not-allowed;
    }

    button {
      margin-top: 20px;
      width: 100%;
    }
  }

  .bookInfo h4 {
    margin: 8px 0;
  }

  .bookInfo h3,
  .bookTitle,
  .bookDescription h3 {
    font-weight: bold;
  }

  .bookInfo {

    .bookTitle,
    .bookDescription {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .bookLabel {
      display: flex;
      gap: 10px;

      .card {
        background-color: $secondary;
        color: black;

        .card-body {
          padding: 10px;
        }
      }
    }

    .bookCreated {
      margin: 30px 0;
    }
  }
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 5;
  flex-wrap: nowrap;
  flex-direction: row;

  @include mobile {
    position: relative;
  }

  .logo {
    width: 100px;
    height: 70px;

    @include mobile {
      margin: 0 10px;
      width: 150px;
      height: auto;
    }

    margin: 0;
    z-index: 9999;
  }

  span {
    font-size: 10px;

    @include mobile {
      font-size: 15px;
    }

    margin-right: 5px;
  }

  a {
    font-size: 10px;

    @include mobile {
      font-size: 15px;
    }
  }

  p {
    font-size: 10px;

    @include mobile {
      font-size: 15px;
    }
  }
}