@import '../../../scss/style.scss';

.bookDetailContainer {
  display: grid;
  padding: 32px;
  margin: 0 auto;
  width: 70%;
  max-width: 1100px;
  grid-template-columns: 1fr;
  gap: 18px 16px;

  @include tablet {
    grid-template-columns: auto 1fr;
  }

  .bookPosterAction {
    display: flex;
    flex-direction: column;

    .bookPoster {
      width: 100%;
      max-width: 400px;

      @include tablet {
        height: 500px;
        max-width: 400px;
      }
    }

    .disabledButton:hover {
      cursor: not-allowed;
    }

    button {
      margin-top: 20px;
      width: 100%;
    }
  }

  .bookInfo h4 {
    margin: 8px 0;
  }

  .bookInfo h3,
  .bookTitle,
  .bookDescription h3 {
    font-weight: bold;
  }

  .bookInfo {

    .bookTitle,
    .bookDescription {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .bookLabel {
      display: flex;
      gap: 10px;

      .card {
        background-color: $primary;
        color: white;

        .card-body {
          padding: 10px;
        }
      }
    }

    .bookCreated {
      margin: 30px 0;
    }
  }
}