@import "../../style.scss";

.paper {
  background-color: #fdfdfd;

  .pageHeader {
    display: flex;
    padding: 2.5rem;
    gap: 10px;

    .card {
      padding: 20px;
    }

    .pageHeaderTitle {
      display: flex;

      h2 {
        align-self: center;
        color: $primary;
        margin-bottom: 0;
        font-weight: bold;
      }
    }
  }
}