.p-3 {
  button {
    margin-right: 5px;
  }
}

.actionDataAnggota {
  display: flex;
  justify-content: space-between;

  .form-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 10px;
  }
}

.convert {
  display: flex;
  flex-direction: row;

  .form-control {
    width: 80%;
  }

  .btn {
    margin-left: 17px;
  }
}